@model WhenWillDaddyBeHome.Models.Location
@{
    ViewBag.Title = "Daddy";
    var trackingToken = "";
}

<h2>When will Daddy be home?</h2>

@if (Model == null)
{
    var newToken = Guid.NewGuid();
    @Html.ActionLink("Get a new tracking token", "Here", new { id = newToken })
}
else {
    trackingToken = Model.Id.ToString();
    <div id="map" style="height:300px;"></div>
    <p id="current"></p>
}

@section Scripts{
    <script src="~/signalr/hubs"></script>

<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARyjD48pzEQIPETramNz7ZxtvgEEpuw5Y&signed_in=true">
</script>

    <script type="text/javascript">
        //from https://github.com/SignalR/Samples/blob/master/Samples_2.1.0/WebApplication/Features/Hub/DemoHub.js

        var map = undefined;
        var geocoder = new google.maps.Geocoder;

        function initMap(lat, long, timestampUTC) {
            var myLatLng = { lat: lat, lng: long };

            if (map === undefined) {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: myLatLng
                });
            }

            var address = 'somewhere';
            geocoder.geocode({ 'location': myLatLng }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        address = results[1].formatted_address;
                    }
                }
            });

            var currentLocation = 'Daddy was at ' + address + ' at ' + (new Date(timestampUTC)).toString() + 'UTC';

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: currentLocation
            });

            $("#current").html(currentLocation);
        }

        var locationHub = $.connection.locationHub;

        locationHub.client.locationMessageReceived = function (token, lat, long, timestampUTC) {
            if (token === '@trackingToken') {
                //message was for me, update the map
                initMap(lat, long, timestampUTC);
                console.log(lat);
                console.log(long);
            }
        };

        $.connection.hub.start();

        @if(Model != null)
        {
            @:initMap(@Model.Lat, @Model.Long, @Model.TimestampUTC);
        }

    </script>

   
}