@model Guid
@{
    ViewBag.Title = "Here";
}

<h2>I am here!</h2>

<div id="map" style="height:300px;"></div>

@*<p>Share this location</p>*@

@section Scripts{

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARyjD48pzEQIPETramNz7ZxtvgEEpuw5Y&signed_in=true">
    </script>


    <script type="text/javascript">

        var map = undefined;

        function getLocation(timeout) {
            window.setTimeout(function () {
                var position = navigator.geolocation.getCurrentPosition(updateLocation);
            }, timeout);
        }

        function updateLocation(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            initMap(lat, long);
            $.post('@Url.Action("UpdateMyLocation", "A")', {
                Id: '@Model',
                Lat: lat,
                Long: long
            }, function () {
                getLocation(60000);
            });
        }

        function initMap(lat, long) {
            var myLatLng = { lat: lat, lng: long };

            if (map === undefined) {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: myLatLng
                });
            }

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Here!'
            });

        }

        getLocation(1);

    </script>
}